<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/booking-entry"></ion-back-button>
      Update New Local Collection Memo
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">LCM Number</ion-label>
            <ion-input [(ngModel)]="postData.lcmno"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-input [(ngModel)]="postData.date" type="date"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>From Branch</ion-label>
          <ion-select value="0" okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.fbranch">
            <ion-select-option value="0">Choose Your Branch</ion-select-option>
            <ion-select-option [value]=item.name *ngFor="let item of branch_items">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label>From Branch</ion-label>
          <ion-select value="0" okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.fbranch">
            <ion-select-option value="0">Choose Your Branch</ion-select-option>
            <ion-select-option [value]=item.name *ngFor="let item of branch_items">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Vehicles</ion-label>
          <ion-select value="0" okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.vehicle">
            <ion-select-option value="0">Choose Your Vehicle</ion-select-option>
            <ion-select-option [value]=item.name *ngFor="let item of vehicle_items">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Area</ion-label>
            <ion-input [(ngModel)]="postData.area"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Supervisor</ion-label>
            <ion-input [(ngModel)]="postData.supervisor"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Loader</ion-label>
            <ion-input [(ngModel)]="postData.loader"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Select GC</ion-label>
          <ion-input [(ngModel)]="postData.selectgc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">No.</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GC No.</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GC Date</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Consignor</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Consignee</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">OTY</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Weight</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Pay Type</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Amount</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Delete</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">OTY</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Weight</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Amount</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"></ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Remark</ion-label>
          <ion-input [(ngModel)]="postData.remark"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)=addLcm()>Save and Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>