<ion-header translucent>
  <ion-toolbar>
    <ion-segment value="all" color="tertiary" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="gcentry">
        <ion-icon name="car"></ion-icon>
        <ion-label>GC Entry</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lcmentry">
        <ion-icon name="car"></ion-icon>
        <ion-label>LCM Entry</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tlmentry">
        <ion-icon name="car"></ion-icon>
        <ion-label>TLM Entry</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="segmentModel">
    <div *ngSwitchCase="'gcentry'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addGc()>Add New GC</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              GC No.
            </div>
            <div class="cell">
              Consignee
            </div>
            <div class="cell">
              Consignor
            </div>
            <div class="cell">
              From Branch
            </div>
            <div class="cell">
              To Branch
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>
          <div class="row" *ngFor="let item of gc_items">
            <div class="cell">
              <ion-text>{{item.gcno}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.consignee}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.consignor}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.fbranch}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.tbranch}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editGc(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteGc(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--gc end-->

    <div *ngSwitchCase="'lcmentry'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addLcm()>Add New LCM</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              LCM No.
            </div>
            <div class="cell">
              Branch
            </div>
            <div class="cell">
              Date
            </div>
            <div class="cell">
              Weight
            </div>
            <div class="cell">
              Amount
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>
          <div class="row" *ngFor="let item of lcm_items">
            <div class="cell">
              <ion-text>{{item.lcmno}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.branch}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.date}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.weight}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.amount}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editLcm(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteLcm(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--lcm end-->

    <div *ngSwitchCase="'tlmentry'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addTlm()>Add New TLM</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Tlm No.
            </div>
            <div class="cell">
              From Branch
            </div>
            <div class="cell">
              To Branch
            </div>
            <div class="cell">
              Quantity
            </div>
            <div class="cell">
              Amount
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>
          <div class="row" *ngFor="let item of tlm_items">
            <div class="cell">
              <ion-text>{{item.tlmno}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.tbranch}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.fbranch}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.qty}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.amount}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editTlm(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteTlm(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--tlm entry-->

  </div>
</ion-content>