<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/logo.png" />
    <h2>WELCOME TO RATAN CARGO MOVERS</h2>
    <p>Go Throught Wheels</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/logo2.png" />
    <h2>TRANSPORTING UNUSUAL CARGO</h2>
    <p>If we drive down the cost of transportation in space, we can do great things.</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/logo1.png" />
    <h2>The line between disorder and order lies in logistics</h2>
    <p>If we drive down the cost of transportation in space, we can do great things.</p>
  </ion-slide>
</ion-slides>
