<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/booking-entry"></ion-back-button>
      Add New GC
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GC Number</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label></ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">From Branch</ion-select-option>
            <ion-select-option value="blonde">Maharstra</ion-select-option>
            <ion-select-option value="black">Tamilnadu</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label></ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">To Branch</ion-select-option>
            <ion-select-option value="blonde">Maharstra</ion-select-option>
            <ion-select-option value="black">Tamilnadu</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>GC Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Add Consignor</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Add New</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">TeeTask IT company</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Address</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Navi Mumbai</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Mobile</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">7987497838</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">City</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Mumbai Maharastra</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">GST Number</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">ANVD444556789654</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Add Consignee</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Add New</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">TeeTask IT company</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Address</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Navi Mumbai</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Mobile</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">7987497838</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">City</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Mumbai Maharastra</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">GST Number</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">ANVD444556789654</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="2">
                  <ion-item>
                    <ion-label position="stacked">No.</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                    <ion-label position="stacked">OTY</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item>
                    <ion-label position="stacked">M.O.P.</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Description</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Invoice No.</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.invoiceno"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Invoice Value</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.invoicevalue"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Load Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.loadtype"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Pay Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.paytype"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Billing Party</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.billingparty"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Vehicle</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.vehicle"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">COD Amount</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.codamount"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Coll Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.colltype"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Coll At</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.collat"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Delivery Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.deliverytype"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Delivery At</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.deliveryat"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Actual Weight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.actualweight"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Charge Weight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.chargeweight"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 1</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ewaybill1"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 2</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ewaybill2"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 3</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ewaybill3"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Total Freight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.totalfrieght"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Door Coll</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.doorcoll"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Door Delay</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.doorday"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">State Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.statecharges"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Hamali</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.hamali"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Godown Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.godowncharges"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">COD Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.codcharges"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Union Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.unioncharges"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Other Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.othercharges"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Total Amount</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.totalamount"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Remark</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.remark"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button>Save and Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>