<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/booking-entry"></ion-back-button>
      Update GC
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GC Number</ion-label>
            <ion-input [(ngModel)]="postData.gcno" style="background-color: #e9e9e9;"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">GC Date</ion-label>
            <ion-input type="date" [(ngModel)]="postData.date" style="--padding-top:2px;"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>From Branch</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.fbranch">
            <ion-select-option [value]=postData.fbranch>{{postData.fbranch}}</ion-select-option>
            <ion-select-option [value]=item.name *ngFor="let item of branch_items">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-label>To Branch</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.tbranch">
            <ion-select-option [value]=postData.tbranch>{{postData.tbranch}}</ion-select-option>
            <ion-select-option [value]=item.name *ngFor="let item of branch_items">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>GC Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Add Consignor</ion-label>
                    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.consignor"
                      (ionChange)=getAccountById($event,1)>
                      <ion-select-option [value]=postData.consignor>{{postData.consignor}}</ion-select-option>
                      <ion-select-option [value]=item.name *ngFor="let item of consignor_items">{{item.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <!-- <ion-button position="stacked">Add New</ion-button> -->
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Address</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignor_data.address}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Mobile</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignor_data.mobile}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">City/State</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignor_data.city}}/ {{consignor_data.state}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">GST Number</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignor_data.gst}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">Add Consignee</ion-label>
                    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.consignee"
                      (ionChange)=getAccountById($event,1)>
                      <ion-select-option [value]=postData.consignee>{{postData.consignee}}</ion-select-option>
                      <ion-select-option [value]=item.name *ngFor="let item of consignee_items">{{item.name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <!-- <ion-button position="stacked">Add New</ion-button> -->
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Address</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignee_data.address}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">Mobile</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignee_data.mobile}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">City/State</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignee_data.city}}/ {{consignee_data.state}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="stacked">GST Number</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="stacked">{{consignee_data.gst}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row style="border-bottom:2px solid; font-weight:bold;">
                <ion-col size="3">
                  <ion-label position="stacked">QTY</ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label position="stacked">M.O.P.</ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label position="stacked">Description</ion-label>
                </ion-col>
              </ion-row>

              <div class="experience">
                <ion-row *ngFor="let item of mop_items">
                  <ion-col size="3">
                    <ion-label position="stacked">{{item.qty}}</ion-label>
                  </ion-col>
                  <ion-col size="3">
                    <ion-label position="stacked">{{item.mop}}</ion-label>
                  </ion-col>
                  <ion-col size="4">
                    <ion-label position="stacked">{{item.des}}</ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-button style="margin-top: 9px;" class="danger" (click)=deleteMop(item.id)>
                      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <ion-label style="font-weight:bold;">Total Qty</ion-label>
                  </ion-col>
                  <ion-col size="3">
                    <ion-label style="font-weight:bold;">{{postData.qty}}</ion-label>
                  </ion-col>
                  <ion-col size="3">
                    <ion-label></ion-label>
                  </ion-col>
                </ion-row>
              </div>
            </ion-card>
          </ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="presentMopModal()">Add M.O.P</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Invoice No.</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.invno"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Invoice Value</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.invvalue"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Load Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.loadtype">
                    <ion-select-option value="Part Load">Part Load</ion-select-option>
                    <ion-select-option value="Full Load">Full Load</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Pay Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.paytype"
                    (ionChange)=changeBillingParty($event)>
                    <ion-select-option value="To Pay">To Pay</ion-select-option>
                    <ion-select-option value="Paid">Paid</ion-select-option>
                    <ion-select-option value="TBB">TBB</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Billing Party</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.billingparty"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Vehicle</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.vehicle">
                    <ion-select-option [value]=item.name *ngFor="let item of vehicle_items">{{item.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">COD Amount</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.cod"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Coll Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.colltype">
                    <ion-select-option value="Door">Door</ion-select-option>
                    <ion-select-option value="Godown">Godown</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Coll At</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.collat"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Delivery Type</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.deliverytype">
                    <ion-select-option value="Door">Door</ion-select-option>
                    <ion-select-option value="Godown">Godown</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Delivery At</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.deliveryat"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Actual Weight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.actualweight"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Charge Weight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.chargeweight"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 1</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ebill1"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 2</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ebill2"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">E-way Bill 3</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.ebill3"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Total Freight</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.totalf"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Door Coll</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.doorcoll"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Door Delay</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.doordelay"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">State Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.statecharge"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Hamali</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.hamali"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Godown Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.godownc"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">COD Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.codec"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Union Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.unionc"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Other Charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.otherc"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Add all charges</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-button (click)="sumCharges()">Add amount</ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Total Amount</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.totalamount" readonly style="background-color: #e9e9e9;">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
            <ion-card>
              <ion-row>
                <ion-col size="5">
                  <ion-item>
                    <ion-label position="stacked">Remark</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="7">
                  <ion-item>
                    <ion-input [(ngModel)]="postData.remark"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)=addgc()>Save and Update</ion-button>
      </ion-col>
      <ion-col>
        <a href="https://ratancargo.tk/print/gc.php?id={{postData.gcno}}" target="_blank">
          <ion-button>Print</ion-button>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>