<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/masters"></ion-back-button>
      Add New Driver
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Driver Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Driver Name</ion-label>
            <ion-input [(ngModel)]="postData.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Mobile</ion-label>
            <ion-input [(ngModel)]="postData.mobile"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input [(ngModel)]="postData.city"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Address</ion-label>
            <ion-input [(ngModel)]="postData.address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Police Station</ion-label>
            <ion-input [(ngModel)]="postData.poliscestation"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label></ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.state">
            <ion-select-option value=" brown">RTO State</ion-select-option>
            <ion-select-option value="blonde">Maharstra</ion-select-option>
            <ion-select-option value="black">Tamilnadu</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Licence Number</ion-label>
            <ion-input type="number" [(ngModel)]="postData.licence"> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Aadhar Number</ion-label>
            <ion-input type="number" [(ngModel)]="postData.aadharno"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bank Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Bank Name </ion-label>
            <ion-input [(ngModel)]="postData.pass"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">IFSC Code</ion-label>
            <ion-input [(ngModel)]="postData.ifsccode"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Account Number</ion-label>
            <ion-input [(ngModel)]="postData.accountno"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">PAN Number</ion-label>
            <ion-input [(ngModel)]="postData.panno"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button>Save and Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>