<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/masters"></ion-back-button>
      Add New Branch
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Branch Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Branch Code</ion-label>
            <ion-input [(ngModel)]="postData.code" class="in" tabindex="1"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Branch Name</ion-label>
            <ion-input [(ngModel)]="postData.name" tabindex="2"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Enter Branch Address</ion-label>
            <ion-input [(ngModel)]="postData.address" tabindex="3"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Enter Your City </ion-label>
            <ion-input [(ngModel)]="postData.city" tabindex="4"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-label>State</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="postData.state" tabindex="5">
            <ion-select-option value="0">Choose Your State</ion-select-option>
            <ion-select-option value="Maharstra">Maharstra</ion-select-option>
            <ion-select-option value="Tamilnadu">Tamilnadu</ion-select-option>
          </ion-select>
        </ion-col>
        <!-- <ion-col>
          <ion-item>
            <ion-label position="stacked"> Enter Pin Code</ion-label>
            <ion-input type="number" [(ngModel)]="postData.pin"> </ion-input>
          </ion-item>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Accounts Details</ion-card-subtitle>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Bank Name</ion-label>
            <ion-input [(ngModel)]="postData.bankname" tabindex="6"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">IFSC Code</ion-label>
            <ion-input [(ngModel)]="postData.ifscno" tabindex="7"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> Account Number</ion-label>
            <ion-input [(ngModel)]="postData.accountno" tabindex="8"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked"> GST Number</ion-label>
            <ion-input [(ngModel)]="postData.gstno" tabindex="9"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-button (click)=saveBranch() tabindex="10">Save and Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>