<ion-toolbar>
  <ion-segment value="all" color="tertiary" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="branches">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Branches</ion-label>
    </ion-segment-button>
    <ion-segment-button value="managers">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Managers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="vehicles">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Vehicles</ion-label>
    </ion-segment-button>
    <ion-segment-button value="accounts">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Accounts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drivers">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>

  <div [ngSwitch]="segmentModel">
    <div *ngSwitchCase="'branches'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="warning" style="float:right" padding (click)="addBranch('home/add-branches')"
              class="btn_css">Add branch
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Code
            </div>
            <div class="cell">
              Name
            </div>
            <div class="cell">
              City
            </div>
            <div class="cell">
              State
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>
          <div class="row" *ngFor="let item of branch_items">
            <div class="cell">
              <ion-text>{{item.code}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.name}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.city}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.state}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editBranchModal(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteBranch(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Branch End-->


    <div *ngSwitchCase="'managers'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addManager() class="btn_css">Add Manager
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Id
            </div>
            <div class="cell">
              Name
            </div>
            <div class="cell">
              City
            </div>
            <div class="cell">
              State
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>

          <div class="row" *ngFor="let item of manager_items">
            <div class="cell">
              <ion-text>{{item.userid}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.name}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.mobile}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.city}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editManagerModal(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteManager(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--Manager End-->

    <div *ngSwitchCase="'vehicles'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addVehicle() class="btn_css">Add Vehicle
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Code
            </div>
            <div class="cell">
              Name
            </div>
            <div class="cell">
              City
            </div>
            <div class="cell">
              State
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>

          <div class="row" *ngFor="let item of vehicle_items">
            <div class="cell">
              <ion-text>{{item.name}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.owner}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.loadcapacity}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.address}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editVehicleModal(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteVehicle(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--Vehicle end-->

    <div *ngSwitchCase="'accounts'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addAccount() class="btn_css">Add Account
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Name
            </div>
            <div class="cell">
              Mobile
            </div>
            <div class="cell">
              City
            </div>
            <div class="cell">
              State
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>

          <div class="row" *ngFor="let item of account_items">
            <div class="cell">
              <ion-text>{{item.name}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.mobile}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.city}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.state}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editAccountModal(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteAccount(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--account end-->

    <div *ngSwitchCase="'drivers'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="primary" style="float:right" padding (click)=addDriver() class="btn_css">Add Driver
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="wrapper">
        <div class="table" color="primary">
          <div class="row header">
            <div class="cell">
              Name
            </div>
            <div class="cell">
              Mobile
            </div>
            <div class="cell">
              City
            </div>
            <div class="cell">
              Aadhar no
            </div>
            <div class="cell">
              Edit
            </div>
            <div class="cell">
              Delete
            </div>
          </div>
          <div class="row" *ngFor="let item of driver_items">
            <div class="cell">
              <ion-text>{{item.name}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.mobile}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.city}}</ion-text>
            </div>
            <div class="cell">
              <ion-text>{{item.aadharno}}</ion-text>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=editDriverModal(item.id)>Edit</ion-button>
            </div>
            <div class="cell">
              <ion-button color="primary" (click)=deleteDriver(item.id)>Delete</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>