<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="paper"></ion-icon>
      <ion-label> Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="masters">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Masters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booking-entry">
      <ion-icon name="bus"></ion-icon>
      <ion-label>Booking Entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delivery-entry">
      <ion-icon name="arrow-round-down"></ion-icon>
      <ion-label>Delivery Entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quote">
      <ion-icon name="card"></ion-icon>
      <ion-label>Bill /Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-label>Whatsapp</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>